header{
    background-color: lightskyblue;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#l1{
    padding:200px 0 0 550px;
 
}

footer{
    background-color: darkblue;
    text-align: center;
    font: bold;
    color: white;
    margin-top: 300px
}